@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
.event-body{
    width: 84%;  
   margin-left: 150px;
   margin-top: 10px;
   box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.8), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
   transition: 500ms; 
   overflow-x: hidden;
    max-width: 100vw;      
    margin-bottom: 25px;
    min-height: 150vh;

}


.event-title{
    border-bottom: 1px solid rgb(68, 65, 65);    
    font-family: 'Oswald', sans-serif;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    
}

.event-image{
    height: auto;
    max-height: 500px;    
    object-fit: contain;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 15px;
    
}

.btn{
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 15px;
}

.date{
    background-color: red;
    height: 9.7vh;
    width: 15vh;   
    font-size: 18px;    
}

span{    
    margin-left: 25px;         
}

.event-details label{
    display:block;
    color: rgba(0, 0, 0, 0.9);    
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.event-details span{
   text-transform: capitalize;
   font-weight: 380;
}


.event-highlight{
    background-color: rgb(226, 226, 226);
  
}
.event-highlight p{
    margin-left: 580px;
    font-weight: 600;    
}

.event-highlight h6{
    margin-left: 580px;
}

.event-table{
    margin-top: -7px;
}
.thead-dark{
    background-color: rgb(32, 31, 31);

}

.thead-text{
    color: white;
}
.trow-early{
    background-color: rgb(226, 226, 226);
}
.trow-vip{
    background-color: rgb(226, 226, 226);
}
.trow-total{
    background-color: rgb(32, 31, 31);
}
.trow-total td{
    color: white;
}

.payment-details{
    background-color: rgb(226, 226, 226);
    margin-top: -15px;
    height: 30vh;
    
}

.payment-details form{
    width:30%;
    margin-left: 30%;
    
}
.pay{
    margin-left: 35%;
}

.pay:hover{
    color: rgb(17, 2, 2);
}

.last-div{
    margin-bottom: 100px;
    background-color: rgb(226, 226, 226);
}
.all-details{
    display: flex;
}
.details-img{
    width: 40%;
    max-width: 40%;
}
.event-details{
    width: 60%;
}
.event-div{
    padding-top: 2%;
    display: flex;
}
.rtl{
    margin-left: 30px  
}
.hfd{
    margin-left: 30px
}
.event-description{
    padding-top: 2%;
    font-family: 'Noto Serif', serif;
}