.card-signup{

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 27%;
  padding: 30px 16px;
  margin: 7% 12%;


}

.card-signup:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.signup{
  display: flex;   
}
.card-signup2{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 27%;
  padding: 30px 16px;
  margin: 7% 12%;
}

.card-signup2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.sign{
  margin-left: 1%;
  width: 24vw;
  background-color: #008080 !important;
  }
  .card-signup h5{
      color: #008080;
      text-align: center;
  }
  .card-signup2 h5{
    text-align: center;
      color: #008080;
  }