.events-container {
    margin-left: 2%;
}

.home {
    background-image: url("https://static1.squarespace.com/static/588f75c9d1758ed4bee19d6d/t/62aa3db189d0b3375b6277c7/1664237977770/DuvalFolx-42.jpg?format=1500w");
    height: 50vh;
    background-size: cover;
}

.transbox {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(15, 15, 15));
    height: 50vh;
}

.text-home h1 {
    color: #ffffff;
    font-size: 40px;
}

.text-home p {
    color: #ffffff;
    font-size: 20px;

}

.text-home {
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 8% 8%;

}

.card-heading {
    /* text-align: center;    */
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    display: flex;

}

.searchbar {
    width: 24vw;
}


.events-body {
    padding-top: 10px;
    /* background: linear-gradient(transparent, rgba(0, 0, 0, 1));    */
    padding-left: 150px;
    padding-right: 80px;
    min-height: 250vh;
    flex: 1;
    z-index: 1000;

}

::-webkit-input-placeholder {
    text-align: center;
}

.icon {
    padding-left: 35px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 22px;
    background-color: #ffffff;
    background-position: 115px 8px;
}

.row {
    gap: 15px;
    /* margin-left: 10px; */
    /* changes home page size */
}

.form-select{
    margin-left: 5%;
}
