/* .home-name{
    transform: translate(200px, 1px);
    font-size: 23px;

}
.home-icon{
    transform: translate(-4px, 0px);

}
.links{
    transform: translate(100px, 15px);
    font-size: 23px;
}
.organizer-links{
    display: flex;
}
.create{
    transform: translate(300px, 17px);
    font-size: 23px;

}
.create-icon{
    transform: translate(-2px, -1px);

}
.event-org{
    transform: translate(250px, 3px);
    font-size: 23px;
    float: right;

}
.draft{
    transform: translate(-2px, 1px);

}
.logout{
    transform: translate(245px, 8px);

}
 .twin-btn{
    transform: translate(325px, 8px);
  
} 
.favourite{
    transform: translate(230px, 15px);
    font-size: 23px;

}
.favourite-icon{
    transform: translate(-2px, -2px);

}

.bought{
    transform: translate(265px, 15px);
    font-size: 23px;
}

.bought-icon{
    transform: translate(-2px, -2px);
} */



 .nav-link {
    color: #008080;
    text-decoration: none;
    font-size: 20px;
}

.nav-link:hover {
    text-decoration: underline;
    color: #008080;

}

.nav-link.active {
    text-decoration: underline;
    color: #008080 !important;

}
.navbar-brand{
    font-size: 27px;
    color: #008080;
    font-weight: bolder;
    margin-right: 10%;

}

.home-name{
    padding-top: 1.4%;
    width: 15%;
}
.organizer-links{
    display: flex;
    width: 40%;
    padding-top: 1.4%;
    margin-left: -4%;
}
.create{
    padding-top: 4%;
}
.favourite{
    padding-top: 3%;
    margin-left: -4%;
}
.bought{
    padding-top: 3%;
 
}
.twn{
    transform: translate(600px, 8px);

}
.logout{
    transform: translate(350px, 8px);

}
/* .navbar{
    height: 8vh;
} */



